USE [master]
GO
/****** Object:  Database [PIA_BD1743923]    Script Date: 03/12/2019 08:42:39 p. m. ******/
CREATE DATABASE [PIA_BD1743923]
 CONTAINMENT = NONE
 ON  PRIMARY
( NAME = N'PIA_BD1743923', FILENAME = N'C:\SQL2018\MSSQL14.SQLEXPRESS\MSSQL\DATA\PIA-BD1743923.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PIA_BD1743923_log', FILENAME = N'C:\SQL2018\MSSQL14.SQLEXPRESS\MSSQL\DATA\PIA-BD1743923_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PIA_BD1743923].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PIA_BD1743923]
GO
/****** Object:  Table [dbo].[Bebida]    Script Date: 03/12/2019 08:43:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bebida](
	[Bebida_code] [int] NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Bebida] PRIMARY KEY CLUSTERED 
(
	[Bebida_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 03/12/2019 08:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[Cliente_code] [int] NOT NULL,
	[ApPaterno_c] [varchar](50) NOT NULL,
	[ApMaterno_c] [varchar](50) NOT NULL,
	[Nombre_c] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Info_Gral]    Script Date: 03/12/2019 08:44:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Info_Gral](
	[Info_code] [int] NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Telefono] [int] NOT NULL,
	[Correo] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Info_Gral] PRIMARY KEY CLUSTERED 
(
	[Info_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pago_Metodo]    Script Date: 03/12/2019 08:45:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago_Metodo](
	[Pago_code] [int] NOT NULL,
	[TPago] [int] NOT NULL,
 CONSTRAINT [PK_Pago_Metodo] PRIMARY KEY CLUSTERED 
(
	[Pago_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 03/12/2019 08:46:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[Pedido_code] [int] NOT NULL,
	[Platillo_code] [int] NOT NULL,
	[Bebida_code] [int] NOT NULL,
	[Postre_code] [int] NOT NULL,
 CONSTRAINT [PK_Pedido] PRIMARY KEY CLUSTERED 
(
	[Pedido_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Platillo]    Script Date: 03/12/2019 08:47:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Platillo](
	[Platillo_code] [int] NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Platillo] PRIMARY KEY CLUSTERED 
(
	[Platillo_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Postre]    Script Date: 03/12/2019 08:48:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Postre](
	[Postre_code] [int] NOT NULL,
	[Descripcion] [nchar](10) NULL,
 CONSTRAINT [PK_Postre] PRIMARY KEY CLUSTERED 
(
	[Postre_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Reservacion]    Script Date: 03/12/2019 08:49:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservacion](
	[Reservacion_code] [int] NOT NULL,
	[Cliente_code] [int] NOT NULL,
 CONSTRAINT [PK_Reservacion] PRIMARY KEY CLUSTERED 
(
	[Reservacion_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 03/12/2019 08:50:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[Ticket_code] [int] NOT NULL,
	[Pedido_code] [int] NOT NULL,
	[Pago_code] [int] NOT NULL,
	[Reserv_code] [int] NOT NULL,
	[Info_code] [int] NOT NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[Ticket_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipoPago]    Script Date: 03/12/2019 08:51:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPago](
	[TPago_code] [int] NOT NULL,
	[Efectivo] [bit] NOT NULL,
	[TDD] [bit] NOT NULL,
	[TDC] [bit] NOT NULL,
 CONSTRAINT [PK_TipoPago] PRIMARY KEY CLUSTERED 
(
	[TPago_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Bebida] ([Bebida_code], [Descripcion]) VALUES (1, N'Coca-Cola')
GO
INSERT [dbo].[Bebida] ([Bebida_code], [Descripcion]) VALUES (2, N'Fanta')
GO
INSERT [dbo].[Bebida] ([Bebida_code], [Descripcion]) VALUES (3, N'Manzanita')
GO
INSERT [dbo].[Cliente] ([Cliente_code], [ApPaterno_c], [ApMaterno_c], [Nombre_c]) VALUES (1, N'Castillo', N'Puente', N'Marcos Alexis')
GO
INSERT [dbo].[Cliente] ([Cliente_code], [ApPaterno_c], [ApMaterno_c], [Nombre_c]) VALUES (2, N'Zapata', N'Briones', N'Daniela Alexandra')
GO
INSERT [dbo].[Cliente] ([Cliente_code], [ApPaterno_c], [ApMaterno_c], [Nombre_c]) VALUES (3, N'Botello', N'Alanis', N'Armando Rodrigo')
GO
INSERT [dbo].[Info_Gral] ([Info_code], [Descripcion], [Telefono], [Correo]) VALUES (1, N'LOS FRESNOS', 924839, N'losfresnosoficial@hotmail.com')
GO
INSERT [dbo].[Pago_Metodo] ([Pago_code], [TPago]) VALUES (1, 1)
GO
INSERT [dbo].[Pago_Metodo] ([Pago_code], [TPago]) VALUES (2, 2)
GO
INSERT [dbo].[Pago_Metodo] ([Pago_code], [TPago]) VALUES (3, 1)
GO
INSERT [dbo].[Pedido] ([Pedido_code], [Platillo_code], [Bebida_code], [Postre_code]) VALUES (1, 1, 3, 3)
GO
INSERT [dbo].[Pedido] ([Pedido_code], [Platillo_code], [Bebida_code], [Postre_code]) VALUES (2, 2, 2, 5)
GO
INSERT [dbo].[Pedido] ([Pedido_code], [Platillo_code], [Bebida_code], [Postre_code]) VALUES (3, 5, 2, 6)
GO
INSERT [dbo].[Platillo] ([Platillo_code], [Descripcion]) VALUES (1, N'Caldo tlalpeño')
GO
INSERT [dbo].[Platillo] ([Platillo_code], [Descripcion]) VALUES (2, N'Caldo de pollo')
GO
INSERT [dbo].[Platillo] ([Platillo_code], [Descripcion]) VALUES (3, N'Caldo de pescado')
GO
INSERT [dbo].[Postre] ([Postre_code], [Descripcion]) VALUES (1, N'Chessecake')
GO
INSERT [dbo].[Postre] ([Postre_code], [Descripcion]) VALUES (4, N'Sundae    ')
GO
INSERT [dbo].[Postre] ([Postre_code], [Descripcion]) VALUES (8, N'Pastel de 3 leches  ')
GO
INSERT [dbo].[Reservacion] ([Reservacion_code], [Cliente_code]) VALUES (1, 1)
GO
INSERT [dbo].[Reservacion] ([Reservacion_code], [Cliente_code]) VALUES (2, 2)
GO
INSERT [dbo].[Reservacion] ([Reservacion_code], [Cliente_code]) VALUES (3, 3)
GO
INSERT [dbo].[Ticket] ([Ticket_code], [Pedido_code], [Pago_code], [Reserv_code], [Info_code]) VALUES (1, 1, 2, 1, 1)
GO
INSERT [dbo].[Ticket] ([Ticket_code], [Pedido_code], [Pago_code], [Reserv_code], [Info_code]) VALUES (2, 1, 5, 1, 1)
GO
INSERT [dbo].[Ticket] ([Ticket_code], [Pedido_code], [Pago_code], [Reserv_code], [Info_code]) VALUES (3, 1, 1, 1, 1)
GO
INSERT [dbo].[TipoPago] ([TPago_code], [Efectivo], [TDD], [TDC]) VALUES (1, 0, 1, 0)
GO
INSERT [dbo].[TipoPago] ([TPago_code], [Efectivo], [TDD], [TDC]) VALUES (2, 0, 0, 1)
GO
INSERT [dbo].[TipoPago] ([TPago_code], [Efectivo], [TDD], [TDC]) VALUES (3, 0, 0, 1)
GO
/****** Object:  StoredProcedure [dbo].[SP_Busqueda]    Script Date: 04/12/2019 07:28:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[SP_Busqueda] 
@id int
as 
Select * from Cliente
where Cliente_code = @id
GO
USE [master]
GO
